<section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="images/home/image1.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Fotogametría</h2>
                    <p>Nuestro sistema de captura de movimiento <b>consta de 18 cámaras infrarrojas</b>, con un <b>área de captura de 8x5 metros</b>, que permite un análisis cinemático de la marcha muy preciso.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Electromiografía de superfície</h2>
                    <P>La electromiografía de superficie (EMGs) consiste, básicamente, en el <b>registro y análisis de las señales eléctricas producidas por los músculos</b> durante una contracción por medio de electrodos de superficie, y constituye una exploración complementaria que ayuda a conocer la integridad del sistema muscular.</P>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="images/home/image2.png" class="img-responsive" alt="">
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="images/home/image3.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Dinamometría</h2>
                    <P>Un esfuerzo isométrico (sin variación de la distancia o el ángulo) sobre un dinamómetro <b>permite medir de forma indirecta la fuerza contráctil de un grupo muscular</b>, y complementa de manera natural la captura de EMGs en la misma prueba.</P>
                </div>
            </div>
        </div>
    </div>
</section>
