<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>Evidencia basada en la biomecánica</h1>
                    <p><b>20 años de experiencia</b> innovando en biomecánica para ofrecer estudios integrados, objetivos y fiables</p>
                    <!--<a href="#" class="btn btn-common">SIGN UP</a>-->
                </div>
                <img src="images/home/slider/optitrack-unbranded.png" class="slider-optitrack" alt="slider image">
                <img src="images/home/slider/inertial.png" class="slider-inertial" alt="slider image">
                <img src="images/home/slider/emg.png" class="slider-emg" alt="slider image">
                <img src="images/home/slider/dynamometer.png" class="slider-dynamometer" alt="slider image">
            </div>
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
