<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
                    <h1 class="title">Nuestros partners</h1>
                    <p>Colaboramos con diferentes entidades para <b>mejorar de forma contínua nuestro know-how</b>, promover la prevención de riesgos laborales usando la biomecánica y obtener la última tecnología disponible invirtiendo en I+D</p>
                </div>
                <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="col-xs-3 col-sm-2">
                        <a href="https://www2.c-motion.com/" target="_blank"><img src="images/home/client1.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="http://cerpie.upc.edu" target="_blank"><img src="images/home/client2.png" class="img-responsive" alt=""></a>
                    </div>
                     <div class="col-xs-3 col-sm-2">
                        <a href="https://ub.edu/" target="_blank"><img src="images/home/client3.png" class="img-responsive" alt=""></a>
                    </div>
                     <div class="col-xs-3 col-sm-2">
                        <a href="http://centroortopedicotecnico.com/" target="_blank"><img src="images/home/client4.png" class="img-responsive" alt=""></a>
                    </div>
                     <div class="col-xs-3 col-sm-2">
                        <a href="http://sap-ugt.cat" target="_blank"><img src="images/home/client5.png" class="img-responsive" alt=""></a>
                    </div>
                     <div class="col-xs-3 col-sm-2">
                        <a href="https://smartlysoft.com" target="_blank"><img src="images/home/client6.png" class="img-responsive" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
