<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/icon1.png" alt="">
                    </div>
                    <h2>Biomecánica evaluadora</h2>
                    <p>Una correcta valoración requiere una medición precisa</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="images/home/icon2.png" alt="">
                    </div>
                    <h2>Biomecánica clínica</h2>
                    <p>Mejora del bienestar, la funcionalidad y la calidad de vida de los pacientes</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="images/home/icon3.png" alt="">
                    </div>
                    <h2>Biomecánica ocupacional</h2>
                    <p>Aquello que se puede medir se puede mejorar y prevenir</p>
                </div>
            </div>
        </div>
    </div>
</section>
